:root {
  --main-color: #ff6c00;
  --secondary-color: #7c9af2;
  --third-color: #d7d8dd;
  --main--text-color: #18191f;
  --secondary--text-color: rgba(24, 25, 31, 0.56);
  --main__box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
    0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  --main-background-color: rgba(0, 0, 0, 0.03);
  --secondary-background-color: #373b53;
  --third-background-color: rgba(55, 59, 83, 0.2);

  --main-font:'Roboto', Arial, sans-serif;
}
